.About {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.6s linear;
  padding-right: 50px;
}

.circle {
  width: 480px;
  height: 480px;
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  border-radius: 240px;
  position: absolute;
  background: linear-gradient(to bottom, #ff00fc 0%, #000000 100%);
  z-index: 0;
}

.portrait {
  height: 460px;
  position: absolute;
  z-index: 0;
  transition: top 1.1s cubic-bezier(0.645, 0.045, 0.355, 1.000), left 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.textAbout {
  width: 900px;
  height: auto;
  color: #ffffff;
  text-align: left;
  position: absolute;
  transition: top 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transform: translateY(-50%);
}

.titleAbout {
  position: relative;
  top: 0;
  width: 900px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 5px;
  color: inherit;
  transition: opacity 0.25s linear, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.bodyAbout {
  width: 900px;
  height: auto;
  position: relative;
  top: 30px;
  font-family: Catamaran;
  font-weight: 400;
  font-size: 15.5px;
  letter-spacing: 0.5px;
  color: inherit;
  text-align: justify;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.25s linear, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  /* text-justify: inter-word;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
}

.leftColumn {
  width: 425px;
  float: left;
}

.rightColumn {
  width: 425px;
  float: right;
}

.resume {
  position: relative;
  transition: opacity 0.6s linear, top 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.resumeButton {
  width: 200px;
  height: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 3px;
  position: absolute;
  bottom: -85px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.2s linear, opacity 0.25s linear, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.resumeButton:hover {
  color: #3e3e3e;
}

.rightArrow {
  width: 8.5px;
  height: 10px;
  margin-left: 15px;
  margin-bottom: 0.5px;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.rightArrowDark {
  width: 8.5px;
  height: 10px;
  margin-left: -8.5px;
  margin-bottom: 0.5px;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.scrollbar {
  transition: opacity 0.3s linear;
}
