.Contact {
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, #0336a1 75%);
  transition: height 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.logos {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.link {
  cursor: pointer;
}

.logo {
  transition: opacity 0.3s linear, transform 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  position: absolute;
}

.logo2 {
  transition: opacity 0.2s linear, transform 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

@media screen and (max-height: 799px) {
  .logos {
    bottom: 20px;
  }

  .link {
    margin: 27px;
  }

  .logo {
    height: 22px;
  }

  .logo2 {
    height: 22px;
  }
}

@media screen and (min-height: 800px) {
  .logos {
    bottom: 30px;
  }

  .link {
    margin: 30px;
  }

  .logo {
    height: 25px;
  }

  .logo2 {
    height: 25px;
  }
}

@media screen and (min-height: 950px) {
  .logos {
    bottom: 32px;
  }

  .link {
    margin: 35px;
  }

  .logo {
    height: 30px;
  }

  .logo2 {
    height: 30px;
  }
}

@media screen and (min-height: 1300px) {
  .logos {
    bottom: 40px;
  }

  .link {
    margin: 42px;
  }

  .logo {
    height: 38px;
  }

  .logo2 {
    height: 38px;
  }
}

@media screen and (min-height: 1650px) {
  .logos {
    bottom: 55px;
  }

  .link {
    margin: 50px;
  }

  .logo {
    height: 47px;
  }

  .logo2 {
    height: 47px;
  }
}

@media screen and (min-height: 2000px) {
  .logos {
    bottom: 75px;
  }

  .link {
    margin: 70px;
  }

  .logo {
    height: 54px;
  }

  .logo2 {
    height: 54px;
  }
}
