.Contact {
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, #0336a1 80%);
  transition: height 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.logos {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.link {
  margin: 30px;
  cursor: pointer;
}

.logo {
  transition: opacity 0.3s linear, transform 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  width: 24px;
}
