.Loader {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoWholeLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s linear;
}

.beta {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: Montserrat;
  font-weight: 600;
  color: #5cd9b1;
  height: auto;
  transition: opacity 0.15s linear;
}

@media screen and (max-height: 799px) {
  .logoWholeLoader {
    height: 50px;
  }

  .beta {
    transform: translate(-50%, 55px);
    padding: 5px;
    width: 50px;
    font-size: 12px;
    letter-spacing: 1.5px;
    border-radius: 5px;
    border: #5cd9b1 1px solid;
  }
}

@media screen and (min-height: 800px) {
  .logoWholeLoader {
    height: 60px;
  }

  .beta {
    transform: translate(-50%, 55px);
    padding: 5px;
    width: 50px;
    font-size: 12px;
    letter-spacing: 1.5px;
    border-radius: 5px;
    border: #5cd9b1 1px solid;
  }
}

@media screen and (min-height: 950px) {
  .logoWholeLoader {
    height: 70px;
  }

  .beta {
    transform: translate(-50%, 60px);
    padding: 6px;
    width: 55px;
    font-size: 14px;
    letter-spacing: 1.5px;
    border-radius: 6px;
    border: #5cd9b1 1px solid;
  }
}

@media screen and (min-height: 1300px) {
  .logoWholeLoader {
    height: 90px;
  }

  .beta {
    transform: translate(-50%, 75px);
    padding: 8px;
    width: 60px;
    font-size: 16px;
    letter-spacing: 1.5px;
    border-radius: 6px;
    border: #5cd9b1 1px solid;
  }
}

@media screen and (min-height: 1650px) {
  .logoWholeLoader {
    height: 116px;
  }

  .beta {
    transform: translate(-50%, 100px);
    padding: 14px;
    width: 80px;
    font-size: 24px;
    letter-spacing: 2px;
    border-radius: 8px;
    border: #5cd9b1 1px solid;
  }
}

@media screen and (min-height: 2000px) {
  .logoWholeLoader {
    height: 140px;
  }

  .beta {
    transform: translate(-50%, 120px);
    padding: 16px;
    width: 100px;
    font-size: 28px;
    letter-spacing: 2.5px;
    border-radius: 12px;
    border: #5cd9b1 2px solid;
  }
}
