.Logo {
  z-index: 10;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.logoWhole {
  height: 30px;
  width: auto;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.3s linear;
}

.logoPiece {
  height: 30px;
  width: auto;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.3s linear;
}

.logoWhole2 {
  height: 30px;
  width: auto;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.3s linear;
}

.logoPiece2 {
  height: 30px;
  width: auto;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.3s linear;
}
