.Menu {
  position: absolute;
  bottom: 25px;
  right: 25px;
  text-align: right;
  color: #292929;
  cursor: default;
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.menuTitle {
  font-size: 11px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 3px;
  transition: opacity 0.3s ease-out, transform 0.25s ease-out;
}

.menuItem {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 4px;
  margin-top: 15px;
  cursor: pointer;
  transition: color 0.3s ease-out, opacity 0.3s ease-out, transform 0.25s ease-out;
}

.menuItem:hover {
  color: #5cd9b1;
}
