.Portfolio {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background 0.2s linear;
  z-index: -2;
}

.prev {
  width: 10px;
  position: absolute;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.2s linear;
}

.next {
  width: 10px;
  position: absolute;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.2s linear;
}

.square {
  width: 480px;
  height: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
  z-index: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.progressBarBackground {
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: background 0.2s linear;
}

.progressBarForeground {
  height: inherit;
  position: relative;
  left: 0px;
  transition: width 0.2s ease-in-out, background 0.2s linear;
}
