.Portfolio {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: background 0.3s linear;
  z-index: -2;
}

.prev {
  width: 10px;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.3s linear;
}

.next {
  width: 10px;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.3s linear;
}

.scrollbar {
  transition: opacity 0.3s linear;
}

.square {
  width: 480px;
  height: 480px;
  position: fixed;
  transform: translatex(-50%);
  z-index: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.portfolioItem {
  width: 100%;
  height: 100%;
}

.progressBarBackground {
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: background 0.3s linear, opacity 0.3s linear;
}

.progressBarForeground {
  height: inherit;
  position: relative;
  left: 0px;
  transition: width 0.3s ease-in-out, background 0.3s linear;
}
