.PortfolioItem {
  transition: opacity 0.5s linear;
  position: relative;
}

.backPortfolio {
  width: auto;
  height: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 3px;
  position: fixed;
  top: 70px;
  left: 70px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.2s linear, opacity 0.3s linear;
  z-index: 1;
}

.portfolioGradientTop {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
}

.portfolioGradientBottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.portfolioHeader {
  text-align: left;
  transition: opacity 0.3s linear, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.portfolioYear {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 3px;
  margin-left: 2px;
}

.portfolioTitle {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 10px;
  margin-top: 6px;
}

.portfolioDescription {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-left: 2px;
}

.portfolioContent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.portfolioText {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: left;
  transition: opacity 0.3s linear;
  margin-bottom: 555px;
}

.portfolioNumber {
  position: fixed;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 4px;
  transition: opacity 0.3s linear, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
