.resume {
  width: inherit;
  height: auto;
  cursor: default;
  margin-top: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.backResume {
  width: 200px;
  height: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 3px;
  float: right;
  cursor: pointer;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.2s;
  color: #ffffff;
  margin-right: -3px;
}

.backResume:hover {
  color: #3e3e3e;
}
