.resume {
  width: inherit;
  height: auto;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.backResume {
  font-family: Montserrat;
  font-weight: 600;
  float: right;
  cursor: pointer;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: color 0.2s;
  color: #ffffff;
}

.backResume:hover {
  color: #3e3e3e;
}

@media screen and (max-height: 799px) {
  .resume {
    margin-top: 25px;
  }

  .backResume {
    font-size: 12px;
    letter-spacing: 3px;
    margin-right: -3px;
  }
}

@media screen and (min-height: 800px) {
  .resume {
    margin-top: 25px;
  }

  .backResume {
    font-size: 15px;
    letter-spacing: 3px;
    margin-right: -3px;
  }
}

@media screen and (min-height: 950px) {
  .resume {
    margin-top: 30px;
  }

  .backResume {
    font-size: 17px;
    letter-spacing: 4px;
    margin-right: -2px;
  }
}

@media screen and (min-height: 1300px) {
  .resume {
    margin-top: 35px;
  }

  .backResume {
    font-size: 24px;
    letter-spacing: 6px;
    margin-right: -3px;
  }
}

@media screen and (min-height: 1650px) {
  .resume {
    margin-top: 45px;
  }

  .backResume {
    font-size: 30px;
    letter-spacing: 7px;
    margin-right: -3px;
  }
}

@media screen and (min-height: 2000px) {
  .resume {
    margin-top: 55px;
  }

  .backResume {
    font-size: 36px;
    letter-spacing: 9px;
    margin-right: -3px;
  }
}
