.Scrollbar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s linear;
}

.scrollbarForeground {
  transition: height 0.1s ease;
}

@media screen and (max-height: 799px) {
  .Scrollbar {
    width: 1px;
    right: 35px;
  }
}

@media screen and (min-height: 800px) {
  .Scrollbar {
    width: 1px;
    right: 35px;
  }
}

@media screen and (min-height: 950px) {
  .Scrollbar {
    width: 1px;
    right: 45px;
  }
}

@media screen and (min-height: 1300px) {
  .Scrollbar {
    width: 2px;
    right: 60px;
  }
}

@media screen and (min-height: 1650px) {
  .Scrollbar {
    width: 2px;
    right: 70px;
  }
}

@media screen and (min-height: 2000px) {
  .Scrollbar {
    width: 3px;
    right: 90px;
  }
}
