.Scrollbar {
  position: absolute;
  width: 1px;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s linear;
}

.scrollbarForeground {
  transition: height 0.1s ease;
}
