.Welcome {
  width: 100%;
  height: 100%;
}

.kevin {
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 190px;
  letter-spacing: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 0.4s linear;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
