@font-face {
  font-family: 'Montserrat';
  font-style: light;
  font-weight: 300;
  src: local('Montserrat-Light'), local('Montserrat-Light'),
       url('./Fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), local('Montserrat-Regular'),
       url('./Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 500;
  src: local('Montserrat-Medium'), local('Montserrat-Medium'),
       url('./Fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: semibold;
  font-weight: 600;
  src: local('Montserrat-SemiBold'), local('Montserrat-SemiBold'),
       url('./Fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: local('Montserrat-Bold'), local('Montserrat-Bold'),
       url('./Fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: black;
  font-weight: 800;
  src: local('Montserrat-Black'), local('Montserrat-Black'),
       url('./Fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran-Regular'), local('Catamaran-Regular'),
       url('./Fonts/Catamaran-Regular.ttf') format('truetype');
}

@keyframes pulse {
  0% {
    color: #111111;
  }
  80% {
    color: #aaaaaa;
  }
  100% {
    color: #111111;
  }
}

html, body, #root, .App, .Loading {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  background: #000000;
  position: relative;
  text-align: center;
}

.Loading {
  background: #000000;
  position: relative;
  text-align: center;
}

.contact {
  position: absolute;
  top: 0;
  z-index: 0;
}

.scrollDown {
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: 300;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  animation: pulse 3s ease-out infinite;
  transition: opacity 0.3s;
}

.leftArrow {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.leftArrowDark {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.scrollbar {
  transition: opacity 0.3s linear;
}

@media screen and (max-height: 799px) {
  .scrollDown {
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 0em;
  }

  .leftArrow {
    width: 8px;
    height: 9px;
    margin-right: -8px;
  }

  .leftArrowDark {
    width: 8px;
    height: 9px;
    margin-right: 15px;
  }
}

@media screen and (min-height: 800px) {
  .scrollDown {
    font-size: 11px;
    letter-spacing: 1px;
  }

  .leftArrow {
    width: 8.5px;
    height: 10px;
    margin-right: -8.5px;
    margin-bottom: 0.5px;
  }

  .leftArrowDark {
    width: 8.5px;
    height: 10px;
    margin-right: 15px;
    margin-bottom: 0.5px;
  }
}

@media screen and (min-height: 950px) {
  .scrollDown {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 3em;
  }

  .leftArrow {
    width: 8.5px;
    height: 10px;
    margin-right: -8.5px;
    margin-bottom: 0.5px;
  }

  .leftArrowDark {
    width: 8.5px;
    height: 10px;
    margin-right: 15px;
    margin-bottom: 0.5px;
  }
}

@media screen and (min-height: 1300px) {
  .scrollDown {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 4em;
  }

  .leftArrow {
    width: 12.5px;
    height: auto;
    margin-right: -13.5px;
    margin-bottom: 1px;
  }

  .leftArrowDark {
    width: 12.5px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 1px;
  }
}

@media screen and (min-height: 1650px) {
  .scrollDown {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 5em;
  }

  .leftArrow {
    width: 16px;
    height: auto;
    margin-right: -18.5px;
    margin-bottom: 1.5px;
  }

  .leftArrowDark {
    width: 16px;
    height: auto;
    margin-right: 25px;
    margin-bottom: 1.5px;
  }
}

@media screen and (min-height: 2000px) {
  .scrollDown {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 6em;
  }

  .leftArrow {
    width: 18px;
    height: auto;
    margin-right: -18.5px;
    margin-bottom: 1.5px;
  }

  .leftArrowDark {
    width: 18px;
    height: auto;
    margin-right: 25px;
    margin-bottom: 1.5px;
  }
}
