@font-face {
  font-family: 'Montserrat';
  font-style: light;
  font-weight: 300;
  src: local('Montserrat-Light'), local('Montserrat-Light'),
       url('./Fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), local('Montserrat-Regular'),
       url('./Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 500;
  src: local('Montserrat-Medium'), local('Montserrat-Medium'),
       url('./Fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: semibold;
  font-weight: 600;
  src: local('Montserrat-SemiBold'), local('Montserrat-SemiBold'),
       url('./Fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: local('Montserrat-Bold'), local('Montserrat-Bold'),
       url('./Fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: black;
  font-weight: 800;
  src: local('Montserrat-Black'), local('Montserrat-Black'),
       url('./Fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran-Regular'), local('Catamaran-Regular'),
       url('./Fonts/Catamaran-Regular.ttf') format('truetype');
}

@keyframes pulse {
  0% {
    color: #111111;
  }
  80% {
    color: #666666;
  }
  100% {
    color: #111111;
  }
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  background: #000000;
  position: relative;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.contact {
  position: absolute;
  top: 0;
  z-index: 0;
}

.logo {
  z-index: -3;
}

.scrollDown {
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  animation: pulse 3s ease-out infinite;
}
